.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.git-local-setup.sh
.git-users.command.md
.claude/**
node_modules/**
*.vsix